@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Acesso Restrito";
}
<main id="main" class="main">
    <section class="section">
        <div class="text-center">
            <br />
            <br />
            <br />
            <br />
            <h2 class="display-3">Acesso Negado</h2>
            <p class="display-6">Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">clique aqui para voltar pagina inicial</a></p>
        </div>
    </section>
</main>



