@{
    ViewData["Title"] = "Página Inicial";
    Layout = "_LayoutMain";
}

<style>
    .welcome-container {
        background-color: #f7fff5; /* Tom de verde claro */
        padding: 20px;
        border: 2px solid #4caf50; /* Borda verde */
        border-radius: 10px; /* Cantos arredondados */
    }

    .system-name {
        color: #4caf50; /* Verde para o nome do sistema */
    }
</style>

<main id="main" class="main">

    <section class="section">
        <div class="text-center">
            <br />
            <h2 class="display-3">Bem-vindo(a)!</h2>
            <p class="display-6">Você esta utilizando o sistema de Auto Folha</p>

            <!-- Adicionando o conteúdo do README -->
            <div class="container mt-5 welcome-container">
                <h3 class="system-name">Auto Folha - Sistema de Folha de Pagamento</h3>
                <p>Bem-vindo ao Auto Folha, um sistema completo de folha de pagamento para gerenciar os proventos e descontos dos colaboradores de sua empresa.</p>
                <h4>Funcionalidades Principais:</h4>
                <ul>
                    <li>Cadastro e gerenciamento de funcionários.</li>
                    <li>Registro de proventos e descontos.</li>
                    <li>Geração de holerites e comprovantes de pagamento.</li>
                    <li>Relatórios detalhados de pagamentos.</li>
                    <li>Integração com sistemas contábeis.</li>
                </ul>
            </div>
        </div>
    </section>
</main>
